<!DOCTYPE html>
<html>
  <head>
    <title>Sign up for updates</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div style="margin-top: 100px;" class="span12 pagination-centered">
    
    <p>Sorry, an error occured trying to send your details. Please try again later.</p>
  

</div>
</div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
